.root {
  font-size: 12pt;
}

.control {
  @extend .custom-control, .custom-radio, .custom-control-inline;
}

.input {
  @extend input, input[type='radio'], .custom-control-input;
  composes: control;
}

.label {
  @extend .custom-control-label;
  color: #000;
  font-weight: 500;
}

.labelChecked {
  font-weight: 600;
  &:after {
    background-color: #000;
  }
  &:before {
    border: 2px solid #000;
  }
}

.disabled {
  cursor: auto;
}
